*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Town{
  margin: 10px auto;
  width: 1600px;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  

}
.Elevator{
  width: 700px;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.UsersPosition{
  width: 700px;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.userFloor{
  width: 100px;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: grey;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.firstElevator, .secondElevator, .thirdElevator {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: yellow;
}
.elevatorPosition{
  position: absolute;
  transition: transform 2s ease-in-out;
  bottom: 45px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: yellow;
}

.MyClass{
  width: 100px;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: red;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

